ul{
    list-style: none;
}
li{
    height: 50px;
    width: 50px;
    border: solid black;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    
}